@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,body{
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/body-background.png);
}

main{
    min-height:calc(100vh - 220px);
}

.image-overview{
 background:rgb(180, 180, 180);
 height: 300px;
 width: 300px;
 text-align: center;
 margin: 0 auto;
 float:left;
}

header {
    background-size: cover;
    background-image: url(../img/header-background.jpg);
    background-position: center;
    height: 220px;
    margin-bottom:10px;
}

.header-overlay,.footer-overlay {
    background: rgba(0, 0, 0, 0.42);
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1111;
    box-shadow: 1px 3px 10px 1px black;
}

.card-body{
    background: #f8f8f8;
    margin-bottom: 10px;
    border-radius: 10px;
}

.form-container{
    padding: 15px;
    overflow: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.575);
    background:#f8f8f8;
}

.album-item label, .image-item label, .image-detail label{
    font-size: .8rem;
}

.album-item, .user-item, .image-item, .comment-item{
    padding: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.575);
    border-radius: 10px;
    transform: scale(1);
    transition: 0.3s all ease-in-out;
    background: #dedede;
    overflow: hidden;
    overflow-wrap: break-word;
    margin-bottom:30px;
}

.album-item:hover{
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
}

footer{
    background-size: cover;
    background-image: url(../img/header-background.jpg);
    background-position: bottom;
    height: 220px;
    margin-top: 21px;
    color:white;
}

.footer-overlay{
    padding-top:50px;    
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }
  .inputfile + label * {
    pointer-events: none;
  }

  img{
      border-radius:10px;
      border:1px solid black;
  }